In [58]:
import mysql.connector

mydata=mysql.connector.connect(host="localhost",user="root",password="Deepak7738")
data=mydata.cursor()
    
try:
    d="create database assignment"
    data.execute(d)
    print("database created")
    
except Exception as d:
    d="connection failed"
    print(d)

database created

In [59]:
import mysql.connector

data=mysql.connector.connect(host="localhost",user="root",password="Deepak7738",database="assignment")
data_info=data.cursor()
try:
    
    create_table='''create table employee
    (EmpID int not null auto_increment,EmpFirstName varchar(150) not null,
    EmplastName varchar(120) not null, EmpSalary int(20) not null,
    EmpDesignation varchar(150) not null,EmpJoiningDate date not null,
    primary key(EmpID))'''
    data_info.execute(create_table)
     
    print("table created successful")
except Exception as A:
    A="this is not valid data"
    print(A)
finally:
    print("this is valid data")

table created successful
this is valid data

In [60]:
import mysql.connector

try:
    
    connection=mysql.connector.connect(host="localhost",user="root",password="Deepak7738",database="assignment")
    if connection.is_connected():
        mycursor=connection.cursor()
        insert_query="""insert into employee(EmpID,EmpFirstName,EmplastName,EmpSalary,EmpDesignation,EmpJoiningDate) values (%s,%s,%s,%s,%s,%s)"""                                    
        
        records=[(3,"priya","yadav",8000,"front end developer","2020-12-13"),
        (4,"nita","raj",9000,"python developer","2019-12-13"),
        (5,"raj","soni",10000,"java developer","2018-11-14"),
        (6,"lalita","chauhan",11000,"mearn developer","2011-12-15"),
        (7,"xyz","rajesh",13000," software developer","2012-11-16"),
        (8,"naina","raj",14000," data science ","2013-12-17"),
        (9,"sonita","pushpa",15000," software designer ","2014-09-18"),
        (10,"payal","trisha",16000,"  designer ","2015-10-19"),
        (11,"suman","chandani",16000," html and css designer ","2016-11-18"),
        (12,"prithavi","raj",17000,"cloud designer ","2017-11-18"),
        (13,"nitara","steve",18000," software developer and python  ","2018-11-18"),
        (14,"akshay","lal",19000," software and python developer  ","2019-11-18"),
        (15,"trishana","vibha",21000," full stack developer  ","2023-01-11")]
        mycursor.executemany(insert_query,records)
        connection.commit()
        print("successful")
except Exception as e:
    e="connection failed"
    print(e)

successful

In [61]:
import mysql.connector

try:
    connection=mysql.connector.connect(host="localhost",user="root",password="Deepak7738",database="assignment")
    if connection.is_connected():
        data=connection.cursor()
        
        update_query="""update employee set EmpSalary=%s where EmpID=%s"""
        records=[(8000,5),(14000,6),(18000,7),(19000,8),(11000,9)]
        
        data.executemany(update_query,records)
        connection.commit()
        print(f'{data.rowcount} records update successful')
except Exception as d:
    d="syntax error.."
    print(d)

5 records update successful

In [2]:
import mysql.connector as data
connection=data.connect(host="localhost",user="root",password="Deepak7738",database="assignment")
try:
    mydata=connection.cursor()
    insert_query="""insert into employee(EmpID,EmpFirstName,EmplastName,EmpSalary,EmpDesignation,EmpJoiningDate) values (%s,%s,%s,%s,%s,%s)"""
    records=[(16,"raghav","shree",16000,"java and python developer","2012-05-14")]
    mydata.executemany(insert_query,records)
    connection.commit()
    print("insert data successful")
except Exception as d:
    d="failed connection"
    print(d)

insert data successful

In [3]:
import mysql.connector as mysql
try:
    connect=mysql.connect(host="localhost",user="root",password="Deepak7738",database="assignment")
    data=connect.cursor()
    delete_data="delete from employee where EmpID=16"
    data.execute(delete_data)
    connect.commit()
    print("delete data successful")
except Exception as h:
    h="syntax Error.."
    print(h)

delete data successful

In [9]:
import mysql.connector as mydata
try:
    connect=mydata.connect(host="localhost",user="root",password="Deepak7738",database="assignment")
    mydata=connect.cursor()
    alter_data="alter table employee add DateOfBirth date"
    mydata.execute(alter_data)
    print("alter data successful")
except Exception as e:
    e="syntax Error.."
    print(e)

alter data successful

In [10]:
import mysql.connector as mydata
try:
    connect=mydata.connect(host="localhost",user="root",password="Deepak7738",database="assignment")
    data=connect.cursor()
    display_data="""select * from employee"""
    data.execute(display_data)
    for x in data:
        print(x)
except Exception as p:
    p="syntax Error.."
    print(p)

(3, 'priya', 'yadav', 8000, 'front end developer', datetime.date(2020, 12, 13), None)
(4, 'nita', 'raj', 9000, 'python developer', datetime.date(2019, 12, 13), None)
(5, 'raj', 'soni', 8000, 'java developer', datetime.date(2018, 11, 14), None)
(6, 'lalita', 'chauhan', 14000, 'mearn developer', datetime.date(2011, 12, 15), None)
(7, 'xyz', 'rajesh', 18000, ' software developer', datetime.date(2012, 11, 16), None)
(8, 'naina', 'raj', 19000, ' data science ', datetime.date(2013, 12, 17), None)
(9, 'sonita', 'pushpa', 11000, ' software designer ', datetime.date(2014, 9, 18), None)
(10, 'payal', 'trisha', 16000, '  designer ', datetime.date(2015, 10, 19), None)
(11, 'suman', 'chandani', 16000, ' html and css designer ', datetime.date(2016, 11, 18), None)
(12, 'prithavi', 'raj', 17000, 'cloud designer ', datetime.date(2017, 11, 18), None)
(13, 'nitara', 'steve', 18000, ' software developer and python  ', datetime.date(2018, 11, 18), None)
(14, 'akshay', 'lal', 19000, ' software and python developer  ', datetime.date(2019, 11, 18), None)
(15, 'trishana', 'vibha', 21000, ' full stack developer  ', datetime.date(2023, 1, 11), None)

In [11]:
import mysql.connector as mydata
try:
    connect=mydata.connect(host="localhost",user="root",password="Deepak7738",database="assignment")
    data=connect.cursor()
    drop_column="""alter table employee drop column DateOfBirth"""
    data.execute(drop_column)
    connect.commit()
    print("Drop column successful")
except Exception as d:
    d="syntax Error"
    print(d)

Drop column successful

In [12]:
import mysql.connector as mydata
try:
    connect=mydata.connect(host="localhost",user="root",password="Deepak7738",database="assignment")
    data=connect.cursor()
    display_data="""select * from employee"""
    data.execute(display_data)
    for x in data:
        print(x)
except Exception as p:
    p="syntax Error.."
    print(p)

(3, 'priya', 'yadav', 8000, 'front end developer', datetime.date(2020, 12, 13))
(4, 'nita', 'raj', 9000, 'python developer', datetime.date(2019, 12, 13))
(5, 'raj', 'soni', 8000, 'java developer', datetime.date(2018, 11, 14))
(6, 'lalita', 'chauhan', 14000, 'mearn developer', datetime.date(2011, 12, 15))
(7, 'xyz', 'rajesh', 18000, ' software developer', datetime.date(2012, 11, 16))
(8, 'naina', 'raj', 19000, ' data science ', datetime.date(2013, 12, 17))
(9, 'sonita', 'pushpa', 11000, ' software designer ', datetime.date(2014, 9, 18))
(10, 'payal', 'trisha', 16000, '  designer ', datetime.date(2015, 10, 19))
(11, 'suman', 'chandani', 16000, ' html and css designer ', datetime.date(2016, 11, 18))
(12, 'prithavi', 'raj', 17000, 'cloud designer ', datetime.date(2017, 11, 18))
(13, 'nitara', 'steve', 18000, ' software developer and python  ', datetime.date(2018, 11, 18))
(14, 'akshay', 'lal', 19000, ' software and python developer  ', datetime.date(2019, 11, 18))
(15, 'trishana', 'vibha', 21000, ' full stack developer  ', datetime.date(2023, 1, 11))

In [13]:
import mysql.connector as mydata
try:
    connect=mydata.connect(host="localhost",user="root",password="Deepak7738",database="assignment")
    data=connect.cursor()
    display_data="""DESCRIBE employee"""
    data.execute(display_data)
    for x in data:
        print(x)
except Exception as p:
    p="syntax Error.."
    print(p)

('EmpID', b'int', 'NO', 'PRI', None, 'auto_increment')
('EmpFirstName', b'varchar(150)', 'NO', '', None, '')
('EmplastName', b'varchar(120)', 'NO', '', None, '')
('EmpSalary', b'int', 'NO', '', None, '')
('EmpDesignation', b'varchar(150)', 'NO', '', None, '')
('EmpJoiningDate', b'date', 'NO', '', None, '')

In [1]:
import mysql.connector as mydata
try:
    connect=mydata.connect(host="localhost",user="root",password="Deepak7738",database="assignment")
    conn=connect.cursor()
    alt_data="""alter table employee rename column EmpID to empid"""
    conn.execute(alt_data)
    connect.commit()
    print("Rename Column successful")
except Exception as data:
    data="syntax Error.."
    print(data)

Rename Column successful

In [2]:
import mysql.connector as mydata
try:
    connect=mydata.connect(host="localhost",user="root",password="Deepak7738",database="assignment")
    conn=connect.cursor()
    alt_data="""alter table employee add Mobile_No int not null"""
    conn.execute(alt_data)
    connect.commit()
    print("Add Column successful")
except Exception as data:
    data="connection Error.."
    print(data)
finally:
    print("succesful Query")

Add Column successful
succesful Query

In [3]:
import mysql.connector as mydata
try:
    connect=mydata.connect(host="localhost",user="root",password="Deepak7738",database="assignment")
    conn=connect.cursor()
    alt_data="""update employee set Mobile_No=44775588 where empid=3"""
    conn.execute(alt_data)
    connect.commit()
    print("Update Query successful")
except Exception as data:
    data="syntax Error.."
    print(data)

Update Query successful

In [14]:
import mysql.connector as mydata
try:
    connect=mydata.connect(host="localhost",user="root",password="Deepak7738",database="assignment")
    data=connect.cursor()
    display_data="""select * from employee where empid=3"""
    data.execute(display_data)
    print("display data successful")
    for x in data:
        print(x)
except Exception as p:
    p="syntax Error.."
    print(p)

display data successful
(3, 'priya', 'yadav', 8000, 'front end developer', datetime.date(2020, 12, 13), 44775588)

In [16]:
import mysql.connector as mydata
try:
    connect=mydata.connect(host="localhost",user="root",password="Deepak7738",database="assignment")
    data=connect.cursor()
    display_data="""select * from employee order by EmpSalary asc"""
    data.execute(display_data)
    print("display data successful")
    for x in data:
        print(x)
except Exception as p:
    p="syntax Error.."
    print(p)

display data successful
(3, 'priya', 'yadav', 8000, 'front end developer', datetime.date(2020, 12, 13), 44775588)
(5, 'raj', 'soni', 8000, 'java developer', datetime.date(2018, 11, 14), 0)
(4, 'nita', 'raj', 9000, 'python developer', datetime.date(2019, 12, 13), 0)
(9, 'sonita', 'pushpa', 11000, ' software designer ', datetime.date(2014, 9, 18), 0)
(6, 'lalita', 'chauhan', 14000, 'mearn developer', datetime.date(2011, 12, 15), 0)
(10, 'payal', 'trisha', 16000, '  designer ', datetime.date(2015, 10, 19), 0)
(11, 'suman', 'chandani', 16000, ' html and css designer ', datetime.date(2016, 11, 18), 0)
(12, 'prithavi', 'raj', 17000, 'cloud designer ', datetime.date(2017, 11, 18), 0)
(7, 'xyz', 'rajesh', 18000, ' software developer', datetime.date(2012, 11, 16), 0)
(13, 'nitara', 'steve', 18000, ' software developer and python  ', datetime.date(2018, 11, 18), 0)
(8, 'naina', 'raj', 19000, ' data science ', datetime.date(2013, 12, 17), 0)
(14, 'akshay', 'lal', 19000, ' software and python developer  ', datetime.date(2019, 11, 18), 0)
(15, 'trishana', 'vibha', 21000, ' full stack developer  ', datetime.date(2023, 1, 11), 0)

In [8]:
import mysql.connector as mysql
try:
    data=mysql.connect(host="localhost",user="root",password="Deepak7738")
    mydata=data.cursor()
    show_data="""show databases"""
    mydata.execute(show_data)
    print("Show Databases Successful")
    for x in mydata:
        print(x)
except Exception as e:
    e="syntax Error"
    print(e)

Show Databases Successful
('assignment',)
('deepak',)
('information_schema',)
('mysql',)
('performance_schema',)
('project',)
('session',)
('students',)
('sys',)

In [12]:
import mysql.connector as mysql
try:
    data=mysql.connect(host="localhost",user="root",password="Deepak7738",database="project")
    mydata=data.cursor()
    show_data="""show tables"""
    mydata.execute(show_data)
    print("Show tables Successful")
    for x in mydata:
        print(x)
except Exception as e:
    e="Error.."
    print(e)

Show tables Successful
('doctors',)
('employees',)
('patients',)
('products',)

In [19]:
import mysql.connector as mysql
try:
    data=mysql.connect(host="localhost",user="root",password="Deepak7738",database="project")
    mydata=data.cursor()
    show_data="""select * from employees where id=3 or id=4 or id=8"""
    mydata.execute(show_data)
    print("Show data Successful")
    for x in mydata:
        print(x)
except Exception as e:
    e="Error.."
    print(e)

Show data Successful
(3, 'priya', 'arora', 'bandra', datetime.date(2020, 7, 15), 24000)
(4, 'pooja', 'bajaj', 'malad', datetime.date(2019, 8, 16), 27000)
(8, 'jack', 'george', 'churchgate', datetime.date(2021, 4, 15), 35000)

In [31]:
import mysql.connector as mysql
try:
    data=mysql.connect(host="localhost",user="root",password="Deepak7738",database="project")
    mydata=data.cursor()
    show_data="""select * from employees where id=4 or id=8 order by address asc """
    mydata.execute(show_data)
    print("Query Successful")
    for x in mydata:
        print(x)
except Exception as e:
    e="syntax Error.."
    print(e)
finally:
    print("Query Executed Successful")

Query Successful
(8, 'jack', 'george', 'churchgate', datetime.date(2021, 4, 15), 35000)
(4, 'pooja', 'bajaj', 'malad', datetime.date(2019, 8, 16), 27000)
Query Executed Successful

In [2]:
import mysql.connector as mysql
try:
    data=mysql.connect(host="localhost",user="root",password="Deepak7738",database="project")
    mydata=data.cursor()
    show_data="""describe employees """
    mydata.execute(show_data)
    print("Query Successful")
    for x in mydata:
        print(x)
except Exception as e:
    e="syntax Error.."
    print(e)
finally:
    print("Query Executed Successful")

Query Successful
('id', b'int', 'NO', 'PRI', None, 'auto_increment')
('name', b'varchar(100)', 'NO', 'UNI', None, '')
('lastname', b'varchar(100)', 'NO', '', None, '')
('address', b'varchar(100)', 'NO', '', None, '')
('date_of_birth', b'date', 'NO', '', None, '')
('salary', b'int', 'NO', '', None, '')
Query Executed Successful

In [3]:
import mysql.connector as mysql
try:
    data=mysql.connect(host="localhost",user="root",password="Deepak7738",database="project")
    mydata=data.cursor()
    show_data="""select id,name,lastname from employees """
    mydata.execute(show_data)
    print("Query Successful")
    for x in mydata:
        print(x)
except Exception as e:
    e="syntax Error.."
    print(e)
finally:
    print("Query Executed Successful")

Query Successful
(1, 'laxman', 'sharma')
(2, 'amit', 'agrawal')
(3, 'priya', 'arora')
(4, 'pooja', 'bajaj')
(5, 'kishan', 'malhotra')
(6, 'aryan', 'singh')
(7, 'steve', 'wilson')
(8, 'jack', 'george')
(9, 'harry', 'Aaron')
Query Executed Successful

In [5]:
import mysql.connector as mysql
try:
    data=mysql.connect(host="localhost",user="root",password="Deepak7738",database="project")
    mydata=data.cursor()
    show_data="""create table view as select * from employees """
    mydata.execute(show_data)
    print("Query Successful")
    for x in mydata:
        print(x)
except Exception as e:
    e="syntax Error.."
    print(e)
finally:
    print("Query Executed Successful")

Query Successful
Query Executed Successful

In [6]:
import mysql.connector as mysql
try:
    data=mysql.connect(host="localhost",user="root",password="Deepak7738",database="project")
    mydata=data.cursor()
    show_data=""" select * from view """
    mydata.execute(show_data)
    print("Query Successful")
    for x in mydata:
        print(x)
except Exception as e:
    e="syntax Error.."
    print(e)
finally:
    print("Query Executed Successful")

Query Successful
(1, 'laxman', 'sharma', 'andheri', datetime.date(2022, 4, 12), 20000)
(2, 'amit', 'agrawal', 'kandivali', datetime.date(2021, 5, 11), 25000)
(3, 'priya', 'arora', 'bandra', datetime.date(2020, 7, 15), 24000)
(4, 'pooja', 'bajaj', 'malad', datetime.date(2019, 8, 16), 27000)
(5, 'kishan', 'malhotra', 'goregaon', datetime.date(2021, 9, 17), 28000)
(6, 'aryan', 'singh', 'jogeshwari', datetime.date(2022, 5, 13), 29000)
(7, 'steve', 'wilson', 'andheri', datetime.date(2020, 6, 14), 30000)
(8, 'jack', 'george', 'churchgate', datetime.date(2021, 4, 15), 35000)
(9, 'harry', 'Aaron', 'virar', datetime.date(2022, 6, 12), 45000)
Query Executed Successful

In [11]:
import mysql.connector as mysql
try:
    data=mysql.connect(host="localhost",user="root",password="Deepak7738",database="project")
    mydata=data.cursor()
    show_data=""" describe view """
    mydata.execute(show_data)
    print("Query Successful")
    for x in mydata:
        print(x)
except Exception as e:
    e="syntax Error.."
    print(e)
finally:
    print("Query Executed Successful")

Query Successful
('id', b'int', 'NO', '', b'0', '')
('name', b'varchar(100)', 'NO', '', None, '')
('lastname', b'varchar(100)', 'NO', '', None, '')
('address', b'varchar(100)', 'NO', '', None, '')
('date_of_birth', b'date', 'NO', '', None, '')
('salary', b'int', 'NO', '', None, '')
Query Executed Successful

In [12]:
import mysql.connector as mysql
try:
    data=mysql.connect(host="localhost",user="root",password="Deepak7738",database="project")
    mydata=data.cursor()
    show_data=""" truncate table view """
    mydata.execute(show_data)
    print("Query Successful")
    for x in mydata:
        print(x)
except Exception as e:
    e="syntax Error.."
    print(e)
finally:
    print("Query Executed Successful")

Query Successful
Query Executed Successful

In [14]:
import mysql.connector as mysql
try:
    data=mysql.connect(host="localhost",user="root",password="Deepak7738",database="project")
    mydata=data.cursor()
    show_data=""" select * from employees """
    mydata.execute(show_data)
    print("Query Successful")
    for x in mydata:
        print(x)
except Exception as e:
    e="syntax Error.."
    print(e)
finally:
    print("Query Executed Successful")

Query Successful
(1, 'laxman', 'sharma', 'andheri', datetime.date(2022, 4, 12), 20000)
(2, 'amit', 'agrawal', 'kandivali', datetime.date(2021, 5, 11), 25000)
(3, 'priya', 'arora', 'bandra', datetime.date(2020, 7, 15), 24000)
(4, 'pooja', 'bajaj', 'malad', datetime.date(2019, 8, 16), 27000)
(5, 'kishan', 'malhotra', 'goregaon', datetime.date(2021, 9, 17), 28000)
(6, 'aryan', 'singh', 'jogeshwari', datetime.date(2022, 5, 13), 29000)
(7, 'steve', 'wilson', 'andheri', datetime.date(2020, 6, 14), 30000)
(8, 'jack', 'george', 'churchgate', datetime.date(2021, 4, 15), 35000)
(9, 'harry', 'Aaron', 'virar', datetime.date(2022, 6, 12), 45000)
Query Executed Successful